In [1]:
import pandas as pd
massage=pd.read_csv("spam_ham.csv",header=None)

In [2]:
massage

         0                                                  1
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham               Will � b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [3]:
import re
import nltk
from nltk.corpus import stopwords
# nltk.download('stopwords')
from nltk.stem import WordNetLemmatizer
wnl=WordNetLemmatizer()
corpus=[]
for i in range(len(massage)):
    review=re.sub('[^a-zA-Z]', ' ',massage[1][i])
    review=review.lower()
    review=review.split()
    review=[wnl.lemmatize(word) for word in review  if not word in set(stopwords.words('english'))]
    review=' '.join(review)
    corpus.append(review)

In [4]:
from sklearn.feature_extraction.text import TfidfVectorizer
cv=TfidfVectorizer()
x=cv.fit_transform(corpus)

In [5]:
x

<5572x7098 sparse matrix of type '<class 'numpy.float64'>'
	with 45138 stored elements in Compressed Sparse Row format>

In [6]:
y=massage[0]

In [9]:
y=pd.get_dummies(y)

In [12]:
y=y['ham']

In [13]:
y

0       1
1       1
2       0
3       1
4       1
       ..
5567    0
5568    1
5569    1
5570    1
5571    1
Name: ham, Length: 5572, dtype: uint8